:root {
  --primery-text-color: rgba(67, 68, 85, 1);
  --title-text-color: rgba(46, 47, 66, 1);
  --active-color: #404bbf;
  --logo-color: #4d5ae5;
  --logo-text-color: #f4f4fd;
  --hover-color: #404bbf;
  --main-btn-color: #4d5ae5;
  --background-main-btn-color: #f4f4fd;
  --background-second-btn-color: #4d5ae5;
  --hero-color: #ffffff;
  --background-team-color: #f4f4fd;
  --hover-main-btn-color: #ffffff;
  --footer-text-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primery-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-color);
}
.logo-text {
  color: var(--title-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header-link:hover,
.header-link:focus,
.header-link.current {
  color: var(--active-color);
}
/*------------------- HEADER----------------- */
.header {
}
.header-navigation {
}
.header-logo {
}
.header-logo-text {
}
.header-list {
}

.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.header-link:is(:hover, :focus) {
  color: var(--hover-color);
}
.address {
}
.address-list {
}
.address-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-mail {
  color: var(--primery-text-color);
}
.address-mail:is(:hover, :focus) {
  color: var(--hover-color);
}
.address-tel {
  color: var(--primery-text-color);
}

/*------------------- HERO----------------- */
.hero {
  background-color: rgba(46, 47, 66, 1);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}
.hero-btn {
  color: var(--hero-color);
  background: var(--background-second-btn-color);
}
.hero-btn:is(:hover, :focus) {
  background: var(--hover-color);
}

/*------------------- ABOUT----------------- */
.about {
}
.about-list {
}
.about-item {
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.about-text {
}
/*------------------- PROJECTS----------------- */
.projects {
}
.projects-title {
}
.projects-list {
}
.projects-item {
}
/*------------------- TEAM----------------- */
.team {
  background: var(--background-team-color);
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/*------------------- FOOTER----------------- */
.footer {
  background-color: rgba(46, 47, 66, 1);
}
.footer-logo {
}
.footer-logo-text {
  color: var(--logo-text-color);
}
.footer-text {
  color: var(--footer-text-color);
}
/*------------------- EXAMPLES and GALERY----------------- */
.examples {
}
.examples-list {
}

.examples-item {
}
.examples-btn {
  color: var(--main-btn-color);
  background: var(--background-main-btn-color);
}
.examples-btn:is(:hover, :focus) {
  color: var(--hover-main-btn-color);
  background: var(--hover-color);
}
.galery-list {
}
.galery-item {
}
.galery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.galery-text {
}
